<div id="image-marquee" class="feature-bar" style="width:100%;overflow:hidden;">
    <div style="max-height:80px;width:1560px;overflow:hidden;">
        <img src="http://placehold.it/160x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
        <img src="http://placehold.it/160x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
        <img src="http://placehold.it/160x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
        <img src="http://placehold.it/160x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
        <img src="http://placehold.it/160x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
        <img src="http://placehold.it/160x80" alt="">
        <img src="http://placehold.it/80x80" alt="">
    </div>
</div>