<div id="testimonials" class="feature-bar">
    <div class="container">
        <div class="row carousel" id="tCarousel">
            <div class="carousel-inner">
                <div class="active item">
                    <h2>Great to have Gary on board. Single handedly insured our product launched!</h2>
                    <p>Callum Negus-Fancey - Owner/CEO LetsGoHoldings (<a href="http://www.yourvine.com">Yourvine.com</a>)</p>
                </div>
                <div class="item">
                    <h2>I cannot recommend Gary highly enough</h2>
                    <p>Rick Joshua - Senior Front End Developer Ladbrokes plc</p>
                </div>
            </div>
            <a class="carousel-control left" href="#tCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#tCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>