<div class="feature-bar" id="contactme">
    <div class="container">
        <div class="hero-unit no-border transparent">
            <h1>Drop Me A Line...</h1>
            <p>I have a presence on most social networks (Twitter,Facebok,Google+) and have too many email addresses to mention.</p>
            <p>The best way to get in contact in via the methods below or using the form at the bottom of this page. This sends a message to my development company site, so if we are looking for clients I am more likely to respond.</p>
            <p>I don't have time to reply to every email I get from reruitment agencies but will try my best to answer any direct messages from individuals or companies.</p>
            
        </div>
    </div>
</div>
<div class="feature-bar" id="">
    <div class="container">
        <div class="hero-unit no-border transparent">
            <div class="row">
                <div class="span4">
                    <h1><a href="mailto:jobs@garyhogarth.com">Email Me</a></h2>
                    <p><a href="mailto:jobs@garyhogarth.com">jobs@garyhogarth.com</a></p>
                </div>
                <div class="span4">
                    <h1><a href="http://www.twitter.com/garyhogarth">@garyhogarth</a></h1>
                    <p class="align-center"><a href="http://www.twitter.com/garyhogarth">Contact Me On Twitter</a></p>
                </div>
                <div class="span4">
                    <h1 class="align-right"><a href="#">Linked In</a></h2>
                    <p class="align-right"><a href="#">Check out my CV on Linked In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>