/* Hiding toolbar fornow */
/*.sf-toolbarreset {display:none;}*/

/* =============================================================
   Google Web Fonts
   ============================================================= */

@import url("http://fonts.googleapis.com/css?family=Cabin");
@import url("http://fonts.googleapis.com/css?family=Lobster");

@import "bootstrap/bootstrap.less";

body {
  padding-top: @navbarHeight;
  padding-bottom: 0px;
}

/*@import "bootstrap/responsive.less";*/

/* ===== Primary Styles ========================================================
   Author: Gary Hogarth
   ========================================================================== */


/* =============================================================
   General Styles
   ============================================================= */
.navbar .nav-pills li a {
    margin-top:0px;
    margin-bottom:0px;
}
.navbar .nav li a {
    line-height:12px;
}

.navbar a.brand {
    font-family: 'Lobster', @baseFontFamily;
    font-weight: normal;
    font-size: 16px;
}

.dropdown-menu {
    background: @navbarBackground;
    #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
    @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    .box-shadow(@shadow);
    color:@grayPaler;
}

.dropdown-menu a {
    color:@grayLighter;
}

.no-border {
    border-radius: 0px;
    border:0px;
}

.transparent {
    background:transparent;
}

footer {
    background: @navbarBackground;
    #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
    @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    .box-shadow(@shadow);
    color:@grayPaler;
}

.footer-inner {
    padding-top:10px;
}

.hero-unit h1 {
    margin-bottom:.2em;
}

/* =============================================================
   Pagination Styles
   ============================================================= */

.pagination.center {
  text-align: center;
}

.pagination ul {
  display: -moz-inline-box; /* FF2 or lower */
  display: inline-block;
  /* IE6/7 inline-block hack */
  *display: inline;
  *zoom: 1;
}


.align-right {
    text-align:right;
}
.align-center {
    text-align:center;
}

/* =============================================================
   Custom Styles
   ============================================================= */


.feature-bar .hero-unit p {
    padding:0px 5px;
    font-size: 16px;
}

.feature-bar .hero-unit {
    padding:45px 0px 5px;
}

h1,h2,h3 {
    font-family: 'Lobster', @baseFontFamily;
    font-weight: normal;
}

.feature-bar {
    text-shadow: 1px 1px @grayPaler;
}

#whoami, #aboutme, #contactme {
    background: @gray;
    #gradient > .vertical(@gray, @grayMedium);
    @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    .box-shadow(@shadow);
    color:@white;
    text-shadow: 1px 1px @grayDark;
}

#whoami h1, #aboutme h1, #contactme h1, #aboutme h3 {
    color:@white;
    text-shadow: 2px 2px @grayDark;
}

#image-marquee {
    background: @grayDarker;
    #gradient > .vertical(@grayDarker, @grayDark);
    @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    .box-shadow(@shadow);
    color:@white;
    padding:3px 0px;
}

#whatido .hero-unit {
    padding-top:30px;
}

#testimonials {
    background: @gray;
    #gradient > .vertical(@gray, @grayMedium);
    @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    .box-shadow(@shadow);
    color:@white;
    text-shadow: 1px 1px @grayDark;
    text-align:center;
    padding:20px 0 0;
}

#testimonials h2 {
    color:@white;
}

#testimonials a {
    color:@white;
}

#musings {
    padding:30px 0px;
}

#aboutme h3 {
    margin-right:10px;
    color:@white;
}
#moreme h3 {
    margin-right:10px;
    color:@black;
}


