{% extends 'AoceuSiteBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block content %}
    <div class="hero-unit">
        <h1>Contact Me</h1>
    </div>
{% endblock %}