{% extends 'AoceuSiteBundle:layout:standard.layout.html.twig' %}

{% block title %}{{ parent() }} - Get In Contact{% endblock %}

{% block featuredContent %}
    {% include 'AoceuSiteBundle:partials:_feature.contactme.html.twig' %}
{% endblock %}
{% block content %}
    <h1>Enquiries Form</h1>
{% endblock %}