{% extends 'AoceuSiteBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block content %}
    <div class="hero-unit">
        <p>An expert object orientated <strong>PHP5</strong> developer, with experience using a range of PHP frameworks including <strong>Symfony2</strong>, <strong>Zend</strong> and <strong>Yii</strong>.</p>
        <p>With extensive <strong>MySQL</strong> and <strong>postgresSQL</strong> exposure both natively and with ORMs such as <strong>Doctrine2</strong></p>
        <p>Strong front end knowledge including heavy use of <strong>HTML5</strong> with <strong>CSS3</strong> and <strong>LESS</strong> and experience both writing raw <strong>JavaScript</strong> and using the <strong>jQuery</strong> libraries.</p>
    </div>
{% endblock %}