<div class="feature-bar" id="aboutme">
    <div class="container">
        <div class="hero-unit no-border transparent">
            <h1>Things I Made...</h1>
            <p>I have worked across more sites than are present here, however here I hope to show of a cross section of my varied work, both professional and personal.</p>
            <p>Some sites are now unfortunately offline (the nature of working for a lot of start ups). Where possible I have included Internet Archive links so that you can see the sites as they were when I worked on them.</p>
        </div>
    </div>
</div>