<div class="feature-bar" id="aboutme">
    <div class="container">
        <div class="hero-unit no-border transparent">
            <h1>Getting To Know Me..</h1>
            <h3 class="pull-left">I have a passion for business</h3>
            <p>One of my first sites I ever built was for my Young Enterprise company when I was 17, I was the Managing Director and was lucky enough to receive the  "Young Business Person of The Year" for South Bedfordshire.</p>
            <h3 class="pull-left">I have been developing websites for over 10 years</h3>
            <p>After getting a degree in Business Management &amp; Computing I have spent the last 8 years working in both start-ups and large organisations and I have been involved at every stage of a product lifecycle. From conception, through development to deployment and bug fixing, I have been involved in marketing decisions, budgeting and team management.</p>
        </div>
    </div>
</div>