<div id="whatido" class="feature-bar">
    <div class="container">
        <div class="hero-unit no-border transparent">
            <div class="row">
                <div class="span10">
                    <p>An expert object orientated <strong>PHP5</strong> developer, with experience using a range of PHP frameworks including <strong>Symfony2</strong>, <strong>Zend</strong> and <strong>Yii</strong>.</p>
                    <p>With extensive <strong>MySQL</strong> and <strong>postgresSQL</strong> exposure both natively and with ORMs such as <strong>Doctrine2</strong></p>
                    <p>Strong front end knowledge including heavy use of <strong>HTML5</strong> with <strong>CSS3</strong> and <strong>LESS</strong> and experience with advanced <strong>JavaScript</strong> and libraries such as <strong>jQuery</strong>.</p>
                    <p>Even this website is built using Symfony2, Twitter Bootstrap, jQuery, LESS and much much more</p>
                </div>
                <div class="span2 align-right">
                    <h1>That's What I Do</h1>
                </div>
            </div>
        </div>
    </div>
</div>