<div class="feature-bar" id="whoami">
    <div class="container">
        <div class="hero-unit no-border transparent">
            <div class="row">
                <div class="span4 align-center">
                    <h1>Who Am I ?</h1>
                </div>
                <div class="span8">
                    <p>I am a freelance web developer &amp; consultant based in London, UK. I have an extensive history working with start ups and large organisations alike, dreaming up new ideas, improving existing products and building a fair few new ones. </p>
                </div>
            </div>
        </div>
    </div>
</div>