<div class="feature-bar" id="moreme">
    <div class="container">
        <div class="hero-unit no-border transparent">
            <h1>...Wait There's More To Me Than Work!</h1>
            <h3 class="pull-left">I'm a bit of a geek!</h3>
            <p>Well a big giant geek really. I'm really interested in the entertainment industry (shock horror) in particular the Television and PC Game Industry. At the moment I am loving Game of Thrones, Breaking Bad and playing far too much Minecraft, but hey this is my personal page, for all things geekery check out my geeky blog (<a href="http://www.sociallyacceptablegeek.com">http://www.sociallyacceptablegeek.com</a>)</p>
            <h3 class="pull-left">I'm secretly a little bit Spanish.</h3>
            <p>Well not really but it is where I want to be. My fiancee is fom Barcelona and being with her has rekindled my love of all things Spanish (Paella, Chorizo, Estrella to name but 3) and opened my eyes to the "real" Spain. We are currently planning our wedding in Spain for 2013, there is so much stuff to do, check out our progress on our blog (<a href="http://www.hogarthortiz.com">http://www.hogarthortiz.com</a>)</p>
        </div>
    </div>
</div>