<div id="musings" class="feature-bar">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h2>Blogs</h2>
            </div>
            <div class="span6">
                <h2>Tweets</h2>
                    <ul class="thumbnails">
                        <li class="span2">
                            <a href="#" class="thumbnail">
                                <p>So the Norwegian gunman was obsessed with World of Warcraft of course! case solved. Evil computer games. #shakefist #sarcasm</p>
                            </a>
                        </li>
                        <li class="span2">
                            <a href="#" class="thumbnail">
                                <p>How sad, Baywatch question on #millionpounddrop and someone edited Wikipedia to show the wrong answer http://t.co/ZlN76DQi</p>
                            </a>
                        </li>
                        <li class="span2">
                            <a href="#" class="thumbnail">
                                <p>Awesome terms and conditions simplified http://t.co/1j9WXr0H</p>
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>